<div class="jumbotron">
    <div class="container">
        <div *ngFor="let jenkinsJob of piplineJobs;" id="div-jenkins-job-{{jenkinsJob.name}}">
            <div class="row">
                <div *ngFor="let jenkinsUrl of registeredJenkinsUrls" class="col"  >
                    <div style="margin: 10%;" class="row justify-content-md-center">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body" [ngStyle]="jenkinsJob.color === 'green' && {'background-color':'green'} 
                                        || jenkinsJob.color === 'red' && {'background-color':'yellow'} ||
                                        jenkinsJob.color === 'notbuilt' && {'background-color':'silver'}"
                                id="jenkins-job-{{jenkinsJob.name}}" (click)="showConnectOnClick($event)">
                                <h5 class="card-title">Job name {{jenkinsJob.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Job last build {{jenkinsJob.color}}</h6>
                                <a href="{{jenkinsUrl.url}}" class="card-link">Job link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>