<div class="jumbotron">
    <!-- <div class="container">
        <div style="margin: 10%;" class="row justify-content-md-center">
            <div class="col" style="background-color: black;"
                *ngFor="let viawableContentIterator of viawableContent | keyvalue">
                <nodes-container #nodeContainer [nodes]="getNodesFromJson(viawableContentIterator.value)">
                </nodes-container>

                <div [connections]="connections"/>
            </div>
        </div>
    </div> -->
    <div #mladen class="container text-center" *ngFor="let viawableContentIterator of viawableContent | keyvalue">
        <nodes-container [nodes]="getNodesFromJson(viawableContentIterator.value)">
        </nodes-container>
    </div>
</div>

<button (click)="nodeContainer.addNode()">Create new node</button>
<div>
    <a [href]="fileUrl" download="data.json" (click)="saveNodeJson()" class="btn btn-secondary btn-lg active"
        role="button" aria-pressed="true">Save Flow Node JSON</a>
</div>

<div>
    <button clasa="align-middle" (click)="fillFromJson()">Fill flow Node JSON</button>
</div>